pkgbase = plasma6-applets-daystrip
	pkgdesc = Plasma 6 panel widget for the clock, date, weather and calendar
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/stektus/corestrip
	arch = any
	license = MIT
	depends = plasma-workspace
	source = plasma6-applets-daystrip-1.0.1.tar.gz::https://github.com/stektus/corestrip/archive/refs/tags/v1.2.0.tar.gz
	sha256sums = 3001dab977ce1efc5ccc9fe7e72a27f1de952728e103c2f9f96ceb53c8f5b941

pkgname = plasma6-applets-daystrip
